<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tea</title>
</head>
<body>
    <h1>Edit Tea Entry Page</h1>
    <form action="/shop/<%=tea.id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= tea.name %> " /><br/>
        Description: <input type="text" name="description" value="<%= tea.description %> "> <br/>
        Price: <input type="text" name="price" value="<%=tea.price%>"><br>
        <input type="submit" name="" value="Edit to inventory">
    </form>
</body>
</html>