.container {
  background-color:seashell;
  padding: 80px;
  display: grid;
}



.card {
  background-color: #f8f8f8;
  margin: auto;
}

.image {
  width: 800px;
  height: 500px;
  padding-left: 30%;
  padding-top: 5%;
  border-radius: 10em;
}

.info {
  width: 50%;
  margin: 3px auto;
  padding: 1em 3em;
  box-sizing: border-box;
  background: #f9f9f9;
  border-radius: 1em;
  text-align: center;
  box-shadow: 1px 1px 5px #888;
  display: flex;
  justify-content: space-between;
}

h1{
padding-left: 45%;
}